<div class="card">
    <div class="card-status" style="background-color: #cf46cd"></div>
    <div class="card-header">
        <h3 class="card-title"><%- i18n('webspaces', 'title') %></h3>
        <div class="card-options">
            <form class="search-form" role="search">
                <div class="input-icon">
                    <span class="input-icon-addon">
                      <i class="fe fe-search"></i>
                    </span>
                    <input name="source-query" type="text" value="" class="form-control form-control-sm" placeholder="<%- i18n('webspaces', 'search') %>" aria-label="<%- i18n('webspaces', 'search') %>">
                </div>
            </form>
            <a href="#" class="btn btn-outline-secondary btn-sm ml-2 help"><i class="fe fe-help-circle"></i></a>
            <% if (showAddButton) { %>
            <a href="#" class="btn btn-outline-primary btn-sm ml-2 add-item" style="border-color: #cf46cd;"><%- i18n('webspaces', 'add') %></a>
            <% } %>
        </div>
    </div>
    <div class="card-body no-padding min-100">
        <div class="dimmer active">
            <div class="loader"></div>
            <div class="dimmer-content list-region">
                <!-- List Region -->
            </div>
        </div>
    </div>
</div>
